/* General styles */
body {
    background-color: #1a1a2e; /* Dark blue background */
    color: #e0e0e0; /* Light text color for contrast */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Container to center content */
.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
}

/* Header styles */
h1 {
    font-size: 2.5rem;
    color: #9cafee;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #9cafee;
    margin-bottom: 20px;
}
/* Button styles */
button#startBtn, button#stopBtn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #162447; /* Darker blue */
    color: #e0e0e0; /* Light text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    margin: 0 10px;
}

button#startBtn:hover, button#stopBtn:hover {
    background-color: #1f4068; /* Slightly lighter blue */
}

button#startBtn:active, button#stopBtn:active {
    background-color: #1b1b2f; /* Even darker blue */
}

/* Output area styles */
#output {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    background-color: #162447; /* Darker blue */
    color: #e0e0e0; /* Light text color */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Interim and final text separation */
#output br {
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    button#startBtn {
        padding: 8px 16px;
        font-size: 1rem;
    }

    #output {
        font-size: 1rem;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    button#startBtn {
        font-size: 0.9rem;
        padding: 6px 12px;
    }

    #output {
        font-size: 0.9rem;
        padding: 10px;
    }
}

/* Speaking indicator styles */
.speaking {
    background-color: #1f4068; /* Slightly lighter blue */
    padding: 10px;
    border-radius: 5px;
}

.speaking span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #433775;
    color: aliceblue;
    border-radius: 50%;
    margin-right: 5px;
    animation: pulse 1s infinite;
}

select{
    padding: 10px 20px;
    font-size: .8rem;
    background-color: #162447; /* Darker blue */
    color: #e0e0e0; /* Light text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}
